body {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "chippewa-falls", sans-serif;
    font-size: 1.2rem;
}

.hr-one {
    margin-top: 2rem;
    background: #f1f1f1;
    width: 70%;
    height: 5px;
}

.hr-two {
    background: #f1f1f1;
    width: 70%;
    height: 5px;
}

.img-l {
    margin: 1rem 2rem 0 0;
}

.img-r {
    margin: 0 2rem 1rem 2rem;
}

.spacer {
    padding: 1rem 1rem;
}

/* VIDEO */
/* Style the video: 100% width and height to cover the entire window */

#tommy {
    height: 100vh;
}

.about {
    background: #000;
    color: #f1f1f1;
}

.contact {
    background: #000;
    color: #f1f1f1;
}

.content {
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.text {
    font-family: "chippewa-falls", sans-serif;
    font-size: 5rem;
    color: #f1f1f1;
}

.script {
    font-family: "lakeside",sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #f1f1f1;
}

.big {
    font-family: "chippewa-falls", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    color: #f1f1f1;
}
.awards {
    font-size: .5rem;
    line-height: .5rem;
}