.reveal p {
    font-size: 24px;
}

a.button1 {
    font-size: 42px;
    display: inline-block;
    padding: 15px 25px;
    border: 5px solid #F05E30;
    margin: 15px 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 800;
    color: #F05E30;
    background-color: #FFFFFF;
    text-align: center;
}

a.button1:hover {
    border: 5px solid #F05E30;
    color: #FFFFFF;
    background-color: #F05E30;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.reveal h1.shadow {
    text-shadow: 0 0 2px #000, 0 0 8px #000, 0 0 14px #000, 0 0 20px #000;
}

.reveal p.shadow {
    text-shadow: 0 0 2px #000, 0 0 8px #000, 0 0 14px #000, 0 0 20px #000;
}

.reveal span.show-title {
	display: block;
	position: absolute;
    bottom: -600px;
    left: -50px;
	min-width:225px;
	padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px; 
	color: #fff;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.gallery label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.kenburns-bottom-left {
    -webkit-animation: kenburns-bottom-left 10s ease-out both;
    animation: kenburns-bottom-left 10s ease-out both;
}

/*
   * ----------------------------------------
   * animation kenburns-bottom-left
   * ----------------------------------------
   */

@-webkit-keyframes kenburns-bottom-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 84%;
        transform-origin: 16% 84%;
    }
    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}

@keyframes kenburns-bottom-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 84%;
        transform-origin: 16% 84%;
    }
    100% {
        -webkit-transform: scale(1.25) translate(-20px, 15px);
        transform: scale(1.25) translate(-20px, 15px);
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
}

textarea[name=message] {
    font-size: 15px;
    text-align: left;
    width: 80%;
    height: 175px;
    padding: 15px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid #F05E30;
}

input[type=email] {
    font-size: 15px;
    text-align: left;
    width: 80%;
    height: 50px;
    padding: 15px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 5px solid #F05E30;
}

button[type=submit] {
    width: 80%;
    background-color: #F05E30;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid #F05E30;
}