nav {
    display: flex;
    flex-direction: row;
}

.contact p{
    font-size: .6em;
}

a.button1 {
    font-size: 42px;
    display: inline-block;
    padding: 15px 25px;
    border: 3px solid #F05E30;
    margin: 15px 15px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 800;
    color: #F05E30;
    background-color: #FFFFFF;
    text-align: center;
}

a.button1:hover {
    border: 3px solid #F05E30;
    color: #FFFFFF;
    background-color: #F05E30;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

hr {
    border: 0;
    height: 5px;
    color: #000;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.title h1 {
    color: #000;
    text-shadow: 0 0 2px #eee, 0 0 8px #eee, 0 0 14px #eee, 0 0 20px #eee;
}

.title h3 {
    color: #000;
    text-shadow: 0 0 2px #eee, 0 0 8px #eee, 0 0 14px #eee, 0 0 20px #eee;
    font-weight: 600;
}

.reveal h1.shadow {
    text-shadow: 0 0 2px #000, 0 0 8px #000, 0 0 14px #000, 0 0 20px #000;
}

.title .controls {
    color: #00005A;
}

.works h1 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

.reveal p.shadow {
    text-shadow: 0 0 2px #000, 0 0 8px #000, 0 0 14px #000, 0 0 20px #000;
}

.reveal span.show-title {
	display: block;
	position: absolute;
    bottom: -600px;
    left: -50px;
	min-width:225px;
	padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px; 
	color: #fff;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

textarea[name=message] {
    font-size: 15px;
    text-align: left;
    width: 80%;
    height: 175px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 3px solid #F05E30;
}

input[type=email] {
    font-size: 15px;
    text-align: left;
    width: 80%;
    height: 50px;
    padding: 15px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 3px solid #F05E30;
}

button[type=submit] {
    width: 80%;
    background-color: #F05E30;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    border: 3px solid #F05E30;
}