body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
}
p {
    font-family: 'Open Sans', sans-serif;
}
form {
    font-family: 'Open Sans', sans-serif;
}
.form-group > label {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
}
.heavy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
}
.light {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
/* NavBar Styles */
.nav-item {
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;        
}
#bubba > .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
/* Intro Styles */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
/* Modal Styles */
.modal-title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;  
}
/* Resume Styles */
#resumeCollapse h1 {
    padding: 0 20px;
}
thead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
}
tbody {
    font-family: 'Open Sans', sans-serif;
}
.awards {
    font-size: .75em;
}
/* Work Styles */
.btn-link {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}
.carousel {
    padding: 20px 0 40px 0;
}
.card {
    border: none;
}
.card-header {
    height: 80px;
    background: #000;
    border-bottom: none;
}
.card-body {
    color: #FFF;
    background: linear-gradient(180deg, #000, #999);
}
#collapseOne {
    background: linear-gradient(180deg, #000, #999);
}
#collapseTwo {
    background: linear-gradient(180deg, #000, #999);
}
#collapseThree {
    background: linear-gradient(180deg, #000, #999);
}
#collapseFour {
    background: linear-gradient(180deg, #000, #222);
}
#collapseFive {
    background: linear-gradient(180deg, #000, #222);
}
#collapseSix {
    background: linear-gradient(180deg, #000, #222);
}
#collapseSeven {
    background: linear-gradient(180deg, #000, #222);
}
#collapseEight {
    background: linear-gradient(180deg, #000, #222);
}
#collapseNine {
    background: linear-gradient(180deg, #000, #222);
}
#collapseTen {
    background: linear-gradient(180deg, #000, #222);
}
#collapseEleven {
    background: linear-gradient(180deg, #000, #222);
}
#collapseTwelve {
    background: linear-gradient(180deg, #000, #222);
}
#collapseThirteen {
    background: linear-gradient(180deg, #000, #222);
}
#collapseFourteen {
    background: linear-gradient(180deg, #000, #222);
}

/* Resume Styles */
#resumeCollapse img {
    padding: 15px;
}
#resume {
    float: right;
    margin: 50px 25px 0 0;
}